<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.moviseries.moviseries">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="INGRESO AL SISTEMA"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Exoplayer2Activity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerTheme" />
        <activity
            android:name=".SeasonActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_season"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JWplayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_jwplayer"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <meta-data
            android:name="JW_LICENSE_KEY"
            android:value="Z4ZKabQBtaAH01bwARpYNvao8FErjPA13EQLtw==" />

        <activity
            android:name=".downloads.DownloadListActivity"
            android:configChanges="orientation|screenSize"
            android:label="Download Manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DownloadActivity"></activity>
    </application>

</manifest>